@use "@styles/mixin" as *;
@use "@styles/variables" as *;

.root {
  border-radius: 8px;
  overflow: hidden;
  width: 240px;
  height: 140px;
  cursor: pointer;
  position: relative;

  @include breakpoint("md") {
    width: 470px;
    height: 230px;
  }

  img {
    width: 100%;
    height: 100%;
    @include normalAnim;
  }

  .player {
    border-radius: 28.5px;
    width: 117px;
    height: 48px;
    background-color: #fff4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 9px;
    display: grid;
    grid-template-columns: auto 1fr;
    opacity: 0;
    @include normalAnim;

    svg {
      fill: white;
    }

    &_play {
      color: white;
      font-size: 18px;
      height: 22px;
      place-self: center;
    }
  }

  &:hover {
    img {
      opacity: 0.5;
      transform: scale(1.04);
    }

    .player {
      opacity: 1;
    }
  }

  &_marker {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    bottom: 16px;
    left: 16px;

    @include breakpoint("md") {
      bottom: 24px;
      left: 24px;
    }

    &_category {
      display: flex;
      align-items: center;
      gap: 14px;
    }

    p {
      color: white;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &_bookmark {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: absolute;
    right: 16px;
    top: 16px;
    display: grid;
    place-items: center;
    background-color: #10141e88;
    @include normalAnim;
    @include breakpoint("md") {
      right: 24px;
    }

    svg {
      stroke: $white;
      @include normalAnim;
    }

    &:hover {
      background-color: $white;

      svg {
        stroke: $dark-blue;
      }
    }

    &.active {
      background-color: #10141e88;
    }
  }
}

.category {
  color: white;
  opacity: 0.75;
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  font-size: 11px;
  line-height: 14px;

  svg {
    fill: white;
  }

  @for $i from 2 through 3 {
    &:nth-child(#{$i}) {
      &::before {
        content: "·";
        position: absolute;
        left: -8px;
      }
    }
  }
}
