@use "@styles/mixin" as *;

.root {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;

  @include breakpoint("2xl") {
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
  }
}
